# Dependencies
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Misc
.DS_Store
 
# Local config files and IDE folders
.eslintrc.json
.prettierrc
.github/
.vscode/
README-COPILOT.md
