# Dependencies
node_modules/

# Next.js
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc
.DS_Store
 
# Local config files
.eslintrc.json
.prettierrc

# Docs
README-COPILOT.md
